.summary {
    position: relative;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 160px);
}
.audio__book--summary {
    white-space: pre-line;
    padding: 24px;
    max-width: 800px;
    margin: 0 auto;
}
.audio__book--summary-title {
    color: #032b41;
    font-size: 24px;
    font-weight: bolder;
    border-bottom: 1px solid #e1e7ea;
    margin-bottom: 32px;
    padding-bottom: 16px;
    line-height: 1.5;
}
.audio__book--summary-text {
    white-space: pre-line;
    line-height: 1.4;
    color: #032b41;
}


.sidebar-with-margin .sidebar__bottom{
    margin-bottom: 48px;
}
.settings__login--wrapper {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.settings__btn{
    width: 100px;
}
.settings__login--text {
    font-size: 24px;
    font-weight: 700;
    color: #032b41;
    text-align: center;
    margin-bottom: 16px;
}
.login__img{
    padding: 24px;
    width: 100%;
    height: 100%;
}
