
.selected__book {
  background-color: #fbefd6;
  border-radius: 4px;
  margin-bottom: 24px;
  width: 80%;
}
.selected__book--link{
  display: flex;
  justify-content: space-between;
  padding: 24px;
  gap: 24px;
  width: 100%;
}
.selected__book--line {
  width: 1px;
  background-color: #bac8ce;
}
.selected__book--sub-title {
  max-width: 40%;
}
.selected__book--content {
  display: flex;
  gap: 16px;
  width: 60%;
}
.selected__book--text {
  width: 100%;
}
.selected__book--title {
  font-weight: 600;
  color: #032b41;
  margin-bottom: 8px;
}
.selected__book--author {
  font-size: 14px;
  color: #394547;
  margin-bottom: 16px;
}
.selected__book--duration-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.selected__book--icon {
  color: white;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 24px;
  font-weight: bold;
}
.selected__book--duration {
  font-size: 14px;
  font-weight: 500;
  color: #032b41;
}

@media (max-width: 768px) {
  .row {
    margin-left: 0;
  }

  .container {
    padding: 16px;
  }

  .sidebar {
    display: none;
  }

  .selected__book {
    width: 100%;
  }

  .selected__book--content {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }

  .selected__book--sub-title, .selected__book--line{
    display: none;
  }

  .selected__book--text {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .selected__book--author {
    margin-bottom: 8px;
  }

  .selected__book--icon {
    font-size: 16px;
  }

}