* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all .3s;
}
.row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}
.container {
    padding: 40px 0;
    width: 100%;
}
.inner__wrapper {
    display: flex;
    gap: 16px;
}
.inner__book {
    width: 100%;
}
.inner-book__author {
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 600;
}
.inner-book__title {
    color: #032b41;
    font-size: 32px;
    margin-bottom: 16px;
    font-weight: 600;
}
.inner-book__sub-title {
    font-size: 20px;
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 300;
}
.inner-book__wrapper {
    border-top: 1px solid #e1e7ea;
    border-bottom: 1px solid #e1e7ea;
    padding: 16px 0;
    margin-bottom: 24px;
}
.inner-book__description--wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    row-gap: 12px;
}
.inner-book__description {
    display: flex;
    align-items: center;
    width: 50%;
    color: #032b41;
    font-weight: 500;
    font-size: 14px;
}

.inner-book__icon {
    height: 24px;
    width: 24px;
    margin-right: 4px;
    font-size: 24px;
    color: #032b41;
}
.inner-book__read--btn-wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}
.inner-book__read--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 48px;
    background-color: #032b41;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    gap: 8px;
    transition: all .2s ease;
}
.inner-book__read--btn:hover{
    background-color: #044f77;
}
.inner-book__read--icon {
    display: flex;
    align-items: center;
    font-size: 24px;
}
.inner-book__bookmark {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #0365f2;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 18px;
    transition: color .2s;
    cursor: not-allowed;
}
.inner-book__bookmark--icon {
    display: flex;
    width: 20px;
    height: 20px;
}
.inner-book__secondary--title {
    font-size: 18px;
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 600;
}
.inner-book__tags--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}
.inner-book__tag {
    background-color: #e4e7e6;
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: not-allowed;
    color: #032b41;
    font-weight: 500;
    border-radius: 4px;
    transition: background-color .2s;
}
.inner-book__book--description {
    color: #032b41;
    margin-bottom: 16px;
    line-height: 1.5;
    width: 100%;
}
.inner-book__author--description {
    color: #032b41;
    line-height: 1.5;
}
.book__image--wrapper {
    width: 300px;
    height: 300px;
}
.book__image {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .wrapper{
        margin-left: 0;
        width: 100%;
    }
    .inner__wrapper{
        flex-direction: column;
    }
    .book__image--wrapper{
        display: none;
    }
}