.section__title.page__title {
    text-align: left;
    border-bottom: 1px solid #e1e7ea;
    padding-bottom: 16px;
}
.setting__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 32px;
    border-bottom: 1px solid #e1e7ea;
    padding-bottom: 24px;
}
.settings__sub--title {
    font-size: 18px;
    font-weight: 700;
    color: #032b41;
}
.settings__text {
    color: #032b41;
}
.btn.settings__upgrade--btn {
    width: fit-content;
}
.login__img{
    padding: 24px;
    width: 100%;
    height: 100%;
}
.settings__login--wrapper {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.settings__btn{
    width: 100px;
}
.settings__login--text {
    font-size: 24px;
    font-weight: 700;
    color: #032b41;
    text-align: center;
    margin-bottom: 16px;
}
