.audio__wrapper {
    width: 100%;
    height: 80px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #042330;
    padding: 0 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
}
.audio__track--wrapper {
    display: flex;
    gap: 12px;
}
.book__image {
    width: 100%;
    height: 100%;
}
.book__image--wrapper {
    width: 48px;
    height: 48px;
}
.audio__track--author{
    color: #b3b3b3;
}
.audio__track--details-wrapper {
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}
.audio__controls, .audio__controls--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    gap: 8px;
}
.audio__controls--btn-play {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.audio__progress--wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}
.audio__time {
    color: #fff;
    font-size: 14px;
}
.audio__progress--bar{
    border-radius: 8px;
    height: 4px;
    max-width: 300px;
    width: 100%;
    cursor: pointer;
    outline: none;
}
.time{
    color: white;
}