.book__link{
    position: relative;
    scroll-snap-align: start;
    padding: 32px 12px 12px;
    text-decoration: none;
    border-radius: 4px;
    max-width: 200px;
    width: 100%;

}
.book__link:hover{
    background-color: #ffecec;

}
.book__image {
    width: 100%;
    height: 100%;
}
.book__title {
    font-size: 16px;
    font-weight: 700;
    color: #032b41;
    margin: 8px 0px;
}
.book__author {
    font-size: 14px;
    color: #6b757b;
    font-weight: 300;
    margin-bottom: 8px;
}
.book__sub-title {
    font-size: 14px;
    color: #394547;
    margin-bottom: 8px;
}
.book__details--wrapper {
    display: flex;
    gap: 8px;
}
.book__details {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 300;
    color: #6b757b;
}
.book__details--icon {
    display: flex;
    width: 16px;
    height: 16px;
}
.book__pill {
    background-color: #032b41;
    width: -moz-fit-content;
    width: fit-content;
    height: 18px;
    padding: 0 8px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

@media (max-width: 768px) {
  .book__link {
    padding: 10px;
  }

  .book__title {
    font-size: 14px;
  }

  .book__author,
  .book__sub-title {
    font-size: 12px;
  }

  .book__details--wrapper {
    display: none;
  }


  .book__pill {
    font-size: 10px;
    padding: 4px 6px;
  }
}

@media (max-width: 480px) {
  .book__image {
    width: 120px;
  }
}