.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a4649;
    transition: opacity .4s ease 0s;
    z-index: 10;
    opacity: .65;
    pointer-events: auto;
}
.menu__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 16px;
    max-width: 160px;
    margin: 0 auto;

    img{
        width: 100%;
    }
}
.menu{
    width: 80%;
    background-color: white;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
}
.menu__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    overflow-y: auto;
}
.menu__top {
    flex: 1 1;
    margin-top: 40px;
}
.menu__link--wrapper {
    display: flex;
    align-items: center;
    height: 56px;
    background-color: white;
    color: #000000;
    margin-bottom: 8px;
    cursor: pointer;
}
.menu__link--wrapper:hover {
background-color:#f0efef;
}
.not-allowed{
    cursor: not-allowed;
}
.menu__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 8px;
    font-size: 24px;
}