/* MODAL */
.auth__wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__content{
  width: 400px;
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  position: relative;
}

.auth__title{
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}

.guest__btn{
  width: 100%;
  background-color: #3a579d;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  transition: all 300ms ease;
  position: relative;
}
.guest__btn:hover{
  background-color: #1f3974;
}

.guest__icon{
  position: absolute;
  left: 8;
  top: 8;
  font-size: 24px;
}


.separator{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
}
.separator:before, .separator:after{
  content: "";
  background-color: rgb(189, 189, 189);
  height: 1px;
  flex:1;
}
.separator span{
  margin: 0px 12px;
}

.auth__form{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.login__input{
  padding: 0px 8px;
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid rgb(189, 189, 189);
}

.login__btn{
  height: 40px;
  background-color: #2bd97c;
  font-size: 16px;
  border-radius: 4px;
  transition: all 300ms ease;
}
.login__btn:hover{
  background-color: #20ba68;
}

.auth__x{
  position: absolute;
  top: 12;
  right: 12;
  font-size: 24px;
  transition: all 300ms ease;
  cursor: pointer;
}
.auth__x:hover{
  color: grey;
}

.no-acc__btn{
  font-size: 16px;
  color: #116Be9;
  transition: all 300ms ease;
}
.no-acc__btn:hover{
  color: #104692;
}