.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 16px;
    max-width: 160px;
    margin: 0 auto;
}
.logo__img{
  z-index: 1;
  width: 100%;
}

.sidebar {
    background-color: #f7faf9;
    width: 200px;
    min-width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    transition: all .3s;
}

.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    overflow-y: auto;} 

    .sidebar__top {
    flex: 1 1;
    margin-top: 40px;
}

.sidebar__link {
    display: flex;
    align-items: center;
    height: 56px;
    color: #032b41;
    margin-bottom: 8px;
    margin-left: 8px;
    cursor: pointer;
    width: 100%;
}

.sidebar__link:hover{
    background-color: #ffecec;
}

.disabled {
    cursor: not-allowed;
}

.sidebar__icon {
    font-size: 24px;
    margin: 0px 8px;
    display: flex;
    align-items: center;
}

.sidebar__title{
    font-size: 16px;
}
