.skeleton {
  pointer-events: none;
  background: #e5e5e5;
  animation: pulse 1.5s infinite;
}

.line {
  height: 14px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.short {
  width: 40%;
  height: 14px;
}

.img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.selected {
  width: 720px;
  height: 220px;
  margin-bottom: 24px;
}

/* BOOK PAGE */
.book__page--skeleton {
  display: flex;
}
.book__description {
  border-top: 1px solid #e1e7ea;
  border-bottom: 1px solid #e1e7ea;
  margin-bottom: 24px;
  padding: 16px 0;
  flex-wrap: wrap;
  row-gap: 12px;
  max-width: 400px;
  display: flex;
}
.book__content{
  width: 100%;
}
.book__btns {
  display: flex;
  margin-bottom: 24px;
  gap: 16px;
}
.book__btn {
  width: 144px;
  height: 48px;
  border-radius: 4px;
}
.book__img {
  width: 300px;
  height: 300px;
}
.description{
  width: 150px;
  height: 20px;
  margin-right: 16px;
  border-radius: 4px;
}
.title{
  width: 300px;
  height: 38px;
  margin-bottom: 16px;
  border-radius: 4px;
}
.sub{
  width: 150px;
  height: 20px;
  margin-bottom: 16px;
  border-radius: 4px;
}
.book__summary{
width: 720px;
  height: 500px;
  border-radius: 4px;
  margin-top: 16px;
}

/* PLAYER PAGE */
.audio__title{
    margin-bottom: 32px;
    padding-bottom: 16px;
    width: 500px;
    height: 48px;
}
.audio__summary{
  width: 720px;
  height: 720px;
  padding: 24px;
  margin: 0 auto;
}
.audio__bar{
  position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
